html,
body {
	min-width: 290px;
	color: #4d4e53;
	background-color: #ffffff;
	font-family: "Open Sans", Arial, sans-serif;
	line-height: 1.5;
}

/* User Story #14: On regular sized devices (laptops, desktops), the element with id="navbar" should be shown on the left side of the screen and should always be visible to the user */
nav {
	position: sticky;
}

/* User Story #15: My Technical Documentation page should use at least one media query */
@media screen {
}
